
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(250, 250, 250, 1);
}
body * {
    font-family: 'Roboto', sans-serif;
}

input,
button {
    display: block;
    margin: 0.4em;
    padding: 1em;
    width: calc(100% - 3.2em);
    height: 1.5em;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#notif {
    display: none;
    background-color: #4CAF50;
    position: fixed;
    top: 2em;
    left: calc(50% - 10em);
    padding: 1em 2em;
    color: white;
    width: 16em;
    border-radius: 0.5em;
    text-align: center;
}

#form-container {
    width: 16em;
    margin: 2em auto;
    background-color: #ECEFF1;
    padding: 2em;
    border-radius: 0.5em;
}

#form-container:hover {
    background-color: #CFD8DC;
}

#options {
    padding: 2em;
    position: fixed;
    top: 0;
    width: calc(100% - 4em);
    max-width: 26em;
    max-height: calc(100vh - 4em);
    overflow: auto;
    background: white;
    transition: 0.5s all;
    height: 100%;
    box-shadow: 0 0px 12px 0 #ECEFF1, 0 0px 24px 0 #CFD8DC;
}

.opt {
    margin: 0.5em;
    display: inline-block;
    text-align: left;
}

button:hover {
    background-color: rgba(156, 39, 176, 0.8);
    color: white;
}

.rowCell {
    display: inline-block;
    padding: 0.5em;
    font-size: 0.8em;
    width: calc(20% - 1em);
}

.row {
    width: 80%;
    margin: auto;
    background-color: white;
    max-width: 50em;
    min-width: 24em;
}

#infos {
    margin: 2em 0;
    max-height: 20em;
    overflow: auto;
}

.row:nth-child(even) {
    background-color: #e7daf5;
}

#menuHead {
    float: left;
}
#menuClose {
    float: right;
    cursor: pointer;
}
#menuClose:hover, #menuIcon:hover {
    color: rgba(156, 39, 176, 0.8);
}
.menu-on {
    right: 0;
}
.menu-off {
    right: -100%;
}
#menuIcon {
    font-size: 1.5em;
    position: fixed;
    cursor: pointer;
    top: 1em;
    right: 1em;
}